In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import gaussian_kde
from functions.load_data import load_data
from functions.run_model import run_model

In [3]:
your_data_df = load_data("data/your_synthetic_data.csv")
comparison_data_df = load_data("data/comparison_synthetic_data.csv")

In [4]:
run_model(your_data_df, comparison_data_df)

   Observation_ID  208Pb/204Pb  207Pb/204Pb  206Pb/204Pb
0               0        37.75        15.03        18.46
1               1        38.90        15.64        17.63
2               2        38.46        15.31        17.74
3               3        38.20        15.51        18.85
4               4        37.31        15.91        18.41